<div class="main-div">
  <div class="d-flex flex-column left-div">
    <div class="mb-3 d-flex" style="position:sticky;">
      <input type="search" placeholder="Search" class="me-2 form-control" [(ngModel)]="searchText"
        (input)="search(searchText)" [disabled]="isSelect">
      <select name="" id="" class="form-select" #Type="ngModel" [(ngModel)]="SortBy" (change)="SortByFun(SortBy)"
        required>
        <option value="Display Name">Name</option>
        <option value="Home Phone">Phone</option>
      </select>
    </div>
    <div class="contact-div">
      <div class="d-flex align-items-center justify-content-between p-2 card-class" *ngFor="let contact of data"
        (click)="contack_click(contact)">
        <div class="avatar me-2">
          <ngx-avatar name="{{contact['Display Name']}}"></ngx-avatar>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{contact['Display Name']}}</h5>
          <p class="card-text card-subtitle">{{contact['Home Phone']}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="right-div ms-3 ps-3 d-flex align-items-center justify-content-center">
    <form action="" class="row">
      <div class="col-md-6">
        <div class="text-field">
          <input type="text" required [(ngModel)]="formData['Display Name']" name="Display Name">
          <span></span>
          <label for="Display Name" class="fw-bold fst-italic">Display Name</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="text-field">
          <input type="text" required [(ngModel)]="formData['First Name']" name="First Name">
          <span></span>
          <label for="First Name" class="fw-bold fst-italic">First Name</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="text-field">
          <input type="text" required [(ngModel)]="formData['Last Name']" name="Last Name">
          <span></span>
          <label for="Last Name" class="fw-bold fst-italic">Last Name</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="text-field">
          <input type="text" required [(ngModel)]="formData['E-mail Address']" name="E-mail Address">
          <span></span>
          <label for="E-mail Address" class="fw-bold fst-italic">E-mail Address</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="text-field">
          <input type="text" required [(ngModel)]="formData['Home Phone']" name="Home Phone">
          <span></span>
          <label for="Home Phone" class="fw-bold fst-italic">Home Phone</label>
        </div>
      </div>

    </form>
  </div>
</div>
<router-outlet></router-outlet>